{% extends 'base.html' %}

{% block title %}About - abcsofai.news{% endblock %}

{% block styles -%}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles -%}

{% block scripts %}
{% script 'about' %}
{% endblock scripts %}

{% block content %}
<article class="word-detail">
  <div class="back-link">
    <a href="/">&larr; All terms</a>
  </div>

  <h2 class="detail--word">About this site</h2>
  <hr class="detail--divider" />

  <div class="detail--definition-text">
    <a href="/">abcsofai.news</a> is a free resource created by and for data journalists.
    Anyone is able to <a href="https://github.com/ryan-serpico/abcsofai.news/issues/new?assignees=palewire&labels=enhancement&template=request-a-word.yaml&title=Request+a+word">request a definition</a>,
    <a href="https://github.com/ryan-serpico/abcsofai.news/issues/new?assignees=palewire&labels=bug&template=flag-an-error.yaml&title=Flag+an+error">flag an error</a> or
    <a href="https://github.com/ryan-serpico/abcsofai.news/issues/new?assignees=palewire&labels=enhancement&template=add-a-word.yaml&title=Add+a+word">draft an entry</a>.
    All of the code that powers the site is available as <a href="https://github.com/ryan-serpico/abcsofai.news/">open source</a>.
    Learn more about how you can contribute by reading our <a href="https://github.com/ryan-serpico/abcsofai.news/blob/main/CONTRIBUTING.md">guide</a>.
  </div>

  <section id="card-container" class="card-container"></section>

  <section class="maintainers">
    <h3>Maintainers</h3>
    <ul class="maintainer-list">
    {% for obj in meta.byline %}
      <li class="maintainer">
        <div class="maintainer--name">{{ obj.name }}</div>
        <div class="maintainer--title">{{ obj.title }}</div>
        <div class="maintainer--link"><a href="{{ obj.url }}">Bio</a></div>
      </li>
    {% endfor %}
    </ul>
  </section>
</article>
{% endblock content %}
