@use '../variables/fonts';
@use '../variables/colors';

.maintainers {
  margin: 2.5rem 0 0 0;
  padding-top: 1.25rem;
  border-top: 1px solid colors.$gray;

  h3 {
    font-family: fonts.$font-family-headline;
    font-size: 20px;
    font-weight: 700;
    color: colors.$true-black;
  }

  .maintainer-list {
    padding: 1rem 0 0 0;
    list-style: none;
    margin: 0;
  }

  .maintainer {
    padding: 0.75rem 0;
    border-bottom: 1px solid colors.$gray;

    &:last-child {
      border-bottom: none;
    }

    .maintainer--name {
      font-family: fonts.$font-family-headline;
      font-weight: 700;
      font-size: 17px;
      color: colors.$true-black;
    }

    .maintainer--title {
      font-family: fonts.$font-family-body;
      font-size: 15px;
      color: colors.$dark-gray;
      margin-top: 0.15rem;
    }

    .maintainer--link {
      font-family: fonts.$font-family-body;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-top: 0.25rem;

      a {
        color: colors.$accent;
      }
    }
  }
}
