@use '../variables/colors';
@use '../variables/fonts';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: colors.$off-white;
}

.container {
  width: 100%;
  max-width: 780px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  background: colors.$white;
  line-height: 1.6;
  font-family: fonts.$font-family-body;
  color: colors.$black;

  @media (max-width: 480px) {
    padding: 1rem 1rem;
    max-width: 100%;
  }
}
