@use '../variables/colors';
@use '../variables/fonts';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$font-family-headline;
  font-weight: fonts.$font-weight-headline;
  margin: 0;
  color: colors.$true-black;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}
