// RESET
// Smooths out the rough edges across browsers
@use './tools/normalize';

// VARIABLES
// Reusable settings
@use './variables/colors';
@use './variables/fonts';

// COMPONENTS
@use './components/container';
@use './components/headlines';
@use './components/prose';
@use './components/nav';
@use './components/header';
@use './components/dictionary';
@use './components/detail';
@use './components/about';

a {
  text-decoration: none;
  color: colors.$accent;
}
a:hover {
  color: colors.$accent-hover;
  text-decoration: underline;
}

.display-none {
  display: none !important;
}
